:host {
  position: relative;
}

.test-area {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.test-area::-webkit-scrollbar {
  display: none;
}

.fade-area {
  position: absolute;
  width: 100%;
  height: 2em;
}

.fade-area__top {
  top: 0;
}

.fade-area__bottom {
  bottom: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 100%);
}
