@font-face {
  font-family: KarlRegular;
  src: url('../../assets/typeface/KarlST_Regular.woff2');
}

@font-face {
  font-family: KarlMedium;
  src: url('../../assets/typeface/KarlST_Medium.woff2');
}

:root {
  --font__family--global: KarlRegular, sans-serif;
  --font__line-height--global: 1.5;
  --font__size--body: '16px';

  --colour__background--global: #ffe7e5;
  --colour__grey--dark: rgba(0, 0, 0, 0.87);
  --colour__grey--medium: rgba(0, 0, 0, 0.6);
  --colour__grey--light: rgba(0, 0, 0, 0.3);
  --colour__grey--lightest: rgba(0, 0, 0, 0.1);

  --layout__margin--global: 1.5em 1em;
}
