e-input input {
  padding: 1em;
}

input[type='radio']:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

input[type='radio']:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: var(--colour__green--default);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--colour__blue--dark);
}
