:host {
  display: block;
  position: absolute;
  background: rgb(255, 231, 229);
}

.nodes {
  background: #d9d9d9;
}

.nodes:hover {
  background: #cefce2;
}

#modal__content {
  width: 25%;
  background: white;
  padding: 0.5em 1.5em 1em 1.5em;
  border-radius: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* margin-top: 4em; */
  -webkit-box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  -moz-box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  border: 1px solid rgba(8, 242, 110, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selectedNodes {
  background: black;
}

.filter-container {
  position: absolute;
  background: white;
  padding: 0.5em 1.5em 0.5em 1.5em;
  border-radius: 1em;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 1em;
  z-index: 9999;
  top: 5em;
  border: 2px solid #08f26e;
}

.filter-container--exploration {
  height: 30px;
  overflow: hidden;
}

.filter-container--selection {
  height: auto;
}

#topic-list {
  /* height: 60vh; */
  overflow: auto;
}

e-button .primary {
  background: #08f26e;
  border-radius: 1.5em;
  color: black;
  font-weight: 400;
  padding: 0.25em 1.25em;
}

e-button .primary:hover {
  background: #07da63;
}

#modal__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.nodes {
  cursor: pointer;
}

.icon-container {
  color: #06c258;
}

#tooltip {
  display: none;
  position: absolute;
  background: white;
  padding: 1em;
  border-radius: 1em;
  width: 280px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  -moz-box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  box-shadow: 0px 0px 20px 0px rgba(8, 242, 110, 0.49);
  border: 2px solid #08f26e;
}

#tooltip-node {
  height: 15px;
  width: 15px;
  background: #08f26e;
  margin-right: 0.25em;
  border-radius: 100%;
  border: 2px solid black;
}

#left-sidebar {
  position: fixed;
  top: 4em;
  left: 1em;
  max-height: 90vh;
  overflow: auto;
}

.divider {
  display: block;
  width: 100%;
  height: 2px;
  background: red;
  padding-top: 1em;
  padding-bottom: 1em;
}

.selection-container {
  width: 320px;
  margin: 0 auto;
  margin-top: 2em;
}

select {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.modal-bg {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
}

.modal-content {
  display: none;
  opacity: 0;
  position: absolute;
  width: 580px;
  margin: 0 auto;
  max-height: 85vh;
  background: white;
  z-index: 9999999;
  border-radius: 1em;
  padding: 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border: 2px solid #08f26e;
  overflow: auto;
}

.seperator {
  display: block;
  width: 100%;
  height: 1px;
  background: black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.toggle-button {
  width: 100%;
  border: 0;
  outline: none;
  background: none;
  padding: 0.25em 0em;
  border-radius: 0.25em;
  cursor: pointer;
}

.expand-button {
  background: rgba(1, 30, 43, 1);
  color: white;
  border-radius: 1.5em;
}

.hide-button {
  background: none;
  color: red;
}

footer {
  position: absolute;
  left: 1em;
  bottom: 1em;
}

.query-button {
  background: white;
  border: 0;
  outline: none;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  padding: 0;
}

nav {
  position: absolute;
  top: 1.5em;
  left: 1em;
  width: 97vw;
}

.menu-button {
  background: white;
  padding: 0;
  border: 1px solid black;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  padding-top: 0.25em;
}

.pill {
  padding: 0.3em 1.5em;
  border: 1px solid black;
  border-radius: 2em;
  background: white;
}

.pill--highlight {
  background: black;
  color: white;
}

#search {
  position: absolute;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 2em;
  width: 20%;
  right: 1.5em;
  top: 2em;
}

#search-results-list {
  /* display: none; */
  width: 50%;
  right: 1.5em;
  top: 4em;
  position: absolute;
  background: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 1em;
  border: 1px solid black;
  padding: 1em;
  margin-top: 0.5em;
  max-height: 70vh;
  overflow: scroll;
}

.search-result-item {
  padding: 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.search-result-item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}
.search-result-item:first-child {
  padding-top: 0;
}
.search-result-item:last-child {
  border-bottom: 0;
}

.menu-open {
  background: white;
}

.menu-close {
  background: black;
}

.menu__content {
  width: 33vw;
  padding: 1em 2em;
  background: white;
  border-radius: 2em;
  border: 2px solid black;
}

.menu__content--green {
  background: rgba(8, 242, 110, 1);
}

.show-search {
  opacity: 1;
}

.hide-search {
  opacity: 0;
}

.bubble {
  font-size: 0.8em;
  background: wheat;
  padding: 0.25em 1em;
  border-radius: 1em;
}

.green-bubble {
  background: #08f26e;
}

.grey-bubble {
  background: #dfe6e9;
}

.bubble-first {
  position: relative;
  border-radius: 1em;
  z-index: 999;
}

.bubble-second {
  padding-left: 1.5em;
  border-radius: 0 1em 1em 0;
  margin-left: -1em;
}

.search-relation-container {
  display: flex;
  align-items: center;
}

.relation-name-container {
  display: inline-block;
  border: 1px solid black;
  padding: 0.3em 1em;
  border-radius: 1em;
}

.relation-line {
  height: 1px;
  width: 90px;
  background: black;
}

.relation-symbol-container {
  display: flex;
  align-items: center;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-window {
  background: white;
  padding: 1em;
  border-radius: 0.5em;
}

.shareable-link-container {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
