@import 'reset/reset.css';
@import 'vars/vars.css';

body {
  font-size: var(--font__size--body);
  font-family: var(--font__family--global);
  line-height: var(--font__line-height--global);
  color: var(--colour__grey--dark);
  background: var(--colour__background--global);
  margin: var(--layout__margin--global);
}

h1,
h2,
h3 {
  font-family: KarlMedium, sans-serif;
}
