.card__basic {
  display: block;
  background: white;
  padding: var(--layout__padding--card);
  border-radius: var(--layout__border-radius--global);
  border: 2px solid var(--colour__green--default);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 280px;
  margin-bottom: 0.5em;
}

header {
  max-width: 280px;
}
