:host {
  display: block;
  position: absolute;
  background: rgb(255, 231, 229);
}

.nodes {
  background: #d9d9d9;
}

#modal__content {
  width: 30%;
  background: white;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 4em;
}

.selectedNodes {
  background: black;
}

.filter-container {
  position: absolute;
  background: white;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 260px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  right: 1em;
  z-index: 9999;
  top: 4em;
}
