:host {
  display: block;
  overflow: scroll;
  max-height: calc(100vh - 4em);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:host::-webkit-scrollbar {
  display: none;
}

.basic-list-container {
  display: flex;
  flex-direction: column-reverse;
}

.compact-list-container {
  display: block;
  background: white;
  padding: var(--layout__padding--card);
  border: 1px solid black;
  border-radius: var(--layout__border-radius--global);
  width: 280px;
  height: 30px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.compact-list-container header {
  margin-bottom: 1em;
  /* max-width: 250px; */
}

.highlight {
  font-size: 0.8em;
  background: var(--colour__green--default);
  padding: 0.1em 0.5em;
  border-radius: 0.5em;
  color: var(--colour__blue--dark);
}

main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  margin-top: 0.5em;
  overflow-y: auto;
  padding-top: 1.5em;
}

.column {
  width: 48%;
  max-height: 75vh;
}

main {
  opacity: 0;
}

.download-button-container {
  display: none;
  opacity: 0;
}
